.App {
  text-align: center;
  background-color: #385B94;
  min-height: 100vh;
  width: 50vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.wrapper {
  display: flex;
}